@model Song
@{
    ViewData["Title"] = "CreateSong";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Yeni Şarkı Ekleme Sayfası</h3>

<form method="post">

    <label>Şarkı Adı</label>
    <input type="text" asp-for="SongName" class="form-control"/>
    <br />
    <label>Şarkı Url</label>
    <input type="text" asp-for="SongUrl" class="form-control" />
    <br />
    <label>Album Adı</label>
    <input type="text" asp-for="AlbumID" class="form-control" />
    <br />
    <button class="btn btn-outline-primary"> Kaydet</button>



</form>

